form{
    display: inline-grid;
}
.form-container{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    align-items: center;
}

h1{
    text-align: center;
}

a{
    margin-top: 10px;
    cursor: pointer;
}
h2{
    color: red;
}